name: Auction Rbay CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  REGISTRY: ghcr.io
  IMAGE_BACKEND: ${{ github.repository_owner }}/rbay-bk
  IMAGE_FRONTEND: ${{ github.repository_owner }}/rbay-fr

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log into GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_BACKEND }}:latest

      - name: Build and push frontend docker image
        uses: docker/build-push-action@v6
        with:
          context: ./fr
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_FRONTEND }}:latest
